/*css reset*/
html {
    height:100%;
}
body {
    height:100%;
}
.lf {
    float:left;
}
.rt {
    float:right;
}
.clear {
    clear: both;
}
/*内部部分上部样式*/
.bodyTitle {
    height:45px;
    line-height:45px;
    padding-left:25px;
    border-bottom:1px solid #e2e2e2;
}
.iframeContainer {
    height:100%;
    overflow:hidden;
}
.layui-footer {
	text-align:center;
}
i.userImg {
	font-size:20px;
}
i.changeSize {
	position:absolute;
	bottom:10px;
	right:15px;
}
i.changeSize:hover {
	cursor:pointer;
}
/*基本table样式设置*/
table {
    /*width:100%;*/
    border-collapse:collapse;
    font-size:14px;
}
table td {
    border:1px solid #e2e2e2;
    padding:5px;
    height:26px;
    line-height:26px;
    text-align:center;
}
table >thead td {
    text-align:center;
    background:#f2f2f2;
}
.treetable_container {
    overflow-y:auto;
    height:100%;
}
/*  */
.iframeContent {
    padding:12px;
    box-sizing: border-box;
}
.iframeTitle {
    height:45px;
    line-height:45px;
    padding-left:15px;
    border-bottom:1px solid #ddd;
    font-size:15px;
}
.iframeTitle .layui-icon {
	font-size:22px;
	padding-right:10px;
	vertical-align:middle;
} 
.iframeTitle div {
    padding-right:12px;
}
.outDiv {
	height:100%;
	border:1px solid #ddd;
	overflow-y:auto;
}
.treetable td {
	border-top:0;
}
 .search {
   /*height:80px;*/
   line-height:60px;
   border:1px dashed #ccc;
   margin-top:10px;
   position:relative;
}
.search-title {
    position:absolute;
    top:-30px;
    left:15px;
    color:#009688;
    font-size:16px;
    font-weight:bold;
}
.leftTree i {
	position:absolute;
	font-size:22px;
	top:12px;
	left:10px;
}
.layui-nav .layui-nav-item a {
	padding:0 45px;
}
#organTree {
	width:240px;
	overflow:auto;
}
.tableContainer {
	margin-left:260px;
	height:100%;
	/*background:#f2f2f2;*/
	margin-top:15px;
	/*border-left:5px solid #0078AD;*/
}
.treeContainer {
	height:100%;
	border:1px solid #ddd;
}
.treeContainer  p {
	text-align:center;
	height:35px;
	line-height:35px;
	background:#f2f2f2;
	border-bottom:1px solid #ddd;
}
